﻿<%@ Page Title="" Async="true" Language="C#" MasterPageFile="~/Shared/masterMenu.Master" AutoEventWireup="true" CodeBehind="User_UI.aspx.cs" Inherits="Sol_TheMusicStore.UI.User.User_UI" %>


   
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
 
     <style>
        
      
      
       
        }
    </style>
    
  
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
   
           
</asp:Content>
